<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-5">
  <%= link_to image_tag("snapshot_logo2.png"), root_path, class: "navbar-brand py-0 mx-5" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link", style:"color: gray;", hover:"?" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add listing", new_camera_path, class: "nav-link mr-2" %>
        </li>
        <li class="nav-item dropdown">
          <% unless current_user.avatar.blank? %>
            <%= cl_image_tag current_user.avatar , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag 'placeholder-person.jpg' , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", profile_path, class: "dropdown-item" %>
            <hr class="mx-auto mt-1 mb-0 p-0 d-flex" style="width: 75%;">
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <hr class="mx-auto mt-1 mb-0 p-0 d-flex" style="width: 75%;">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item mx-5">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
