<%= render 'shared/navbar' %>


          <div class="container" id="books">
            <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a  class="nav-link active" href="#bookings" data-toggle="tab">Bookings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Listing" data-toggle="tab">Listing</a>
                  </li>
                </ul>

                  <div class="tab-content ">
                    <div class="tab-pane active" id="bookings">
                          <div class="row">
                            <div class="col-lg-8">
                               <h3>Upcoming bookings</h3>
                              <% @future_bookings.each do |b| %>
                                <div class="card-product">
                                 <%= link_to camera_booking_path(b.camera, b), :class => "text-cards" do %>
                                <%= cl_image_tag b.camera.photo, height: 300, width: 400, crop: :fill %>
                                  <div class="card-product-infos">
                                    <div class="card-top-line">
                                        <h2><%=  b.camera.name %> </h2>
                                        </div>
                                        <p> Start date: <%= b.rental_date %> </p>
                                        <p> Return date: <%= b.return_date %> </p>
                                        <p> Date till booking: <%= ((-( Date.today - b.rental_date )).to_i ) %> </p>
                                      <div class="card-bottom-line">
                                      <h2> Total Price: $<%= ((((-(b.rental_date - b.return_date))).to_i )* b.camera.price_per_day) + (((((-(b.rental_date - b.return_date))).to_i )* b.camera.price_per_day)*0.02)%> </h2>
                                    </div>
                                    <% end %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-8">
                              <h3>Past bookings</h3>
                              <% @past_bookings.each do |b| %>
                                <div class="card-product">
                                 <%= link_to camera_booking_path(b.camera, b), :class => "text-cards" do %>
                                <%= cl_image_tag b.camera.photo, height: 300, width: 400, crop: :fill %>
                                  <div class="card-product-infos">
                                    <div class="card-top-line">
                                        <h2><%=  b.camera.name %> </h2>
                                        </div>
                                        <p> Start date: <%= b.rental_date %> </p>
                                        <p> Return date: <%= b.return_date %> </p>
                                        <p> Booking ended <%= ((( Date.today - b.rental_date )).to_i ) %> days ago </p>
                                      <div class="card-bottom-line">
                                      <h2> Total Price: $<%= ((((-(b.rental_date - b.return_date))).to_i )* b.camera.price_per_day) + (((((-(b.rental_date - b.return_date))).to_i )* b.camera.price_per_day)*0.02)%> </h2>
                                    </div>
                                    <% end %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>

                    </div>
                    <div class="tab-pane" id="Listing">
                      <div class="row">
                            <div class="col-lg-8">
                               <h3>Upcoming listings of your cameras</h3>
                              <% @future_listings.each do |b| %>
                                <div class="card-product">
                                 <%= link_to camera_booking_path(b.camera, b), :class => "text-cards" do %>
                                <%= cl_image_tag b.camera.photo, height: 300, width: 400, crop: :fill %>
                                  <div class="card-product-infos">
                                    <div class="card-top-line">
                                        <h2><%=  b.camera.name %> </h2>
                                        </div>
                                        <p> Start date: <%= b.rental_date %> </p>
                                        <p> Return date: <%= b.return_date %> </p>
                                        <p> Date till booking: <%= ((-( Date.today - b.rental_date )).to_i ) %> </p>
                                      <div class="card-bottom-line">
                                      <h2> Total Price: $<%= ((((-(b.rental_date - b.return_date))).to_i )* b.camera.price_per_day) + (((((-(b.rental_date - b.return_date))).to_i )* b.camera.price_per_day)*0.02)%> </h2>
                                    </div>
                                    <% end %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>

                           <div class="row">
                            <div class="col-lg-8">
                               <h3>past listings of your cameras</h3>
                              <% @past_listings.each do |b| %>
                                <div class="card-product">
                                 <%= link_to camera_booking_path(b.camera, b), :class => "text-cards" do %>
                                <%= cl_image_tag b.camera.photo, height: 300, width: 400, crop: :fill %>
                                  <div class="card-product-infos">
                                    <div class="card-top-line">
                                        <h2><%=  b.camera.name %> </h2>
                                        </div>
                                        <p> Start date: <%= b.rental_date %> </p>
                                        <p> Return date: <%= b.return_date %> </p>
                                        <p> Booking ended <%= ((( Date.today - b.rental_date )).to_i ) %> days ago </p>
                                      <div class="card-bottom-line">
                                      <h2> Total Price: $<%= ((((-(b.rental_date - b.return_date))).to_i )* b.camera.price_per_day) + (((((-(b.rental_date - b.return_date))).to_i )* b.camera.price_per_day)*0.02)%> </h2>
                                    </div>
                                    <% end %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>
                    </div>

                  </div>
              </div>
         </div>








<%= render 'shared/footer' %>






<!-- CODE TO CHANGE FROM MY BOOKINGS TO -->



