<%= render 'shared/navbar' %>
<h1>Edit a Listing</h1>
<%= simple_form_for(@camera) do |f| %>

<% if @camera.errors.any? %>
<div class="errors-container">
  <ul>
    <% @camera.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-inputs">
    <%= f.input :name, placeholder: @camera.name, %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :policies %>
    <%= f.input :price_per_day %>
    <br>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  </div>
<% end %>
<%= render 'shared/footer' %>

