<% count = Camera.count %>
<%= render 'shared/navbar' %>
<!-- HTML for card to be displayed on index page -->
<div class="container container-index" >
  <div class="row">
    <h3 class="col-12 text-justify index-header"><strong><%= count %>+ cameras & equipment are available close to you.</strong></h1>
  </div>

  <div class="row">
    <div class="col-12 filter-container">
      <h5 style="padding-top: 10px">Filter</h5>
    <div class="filter-dropdowns-container">
      <p>Filter by price</p>
      <p>Filter by distance?</p>
      <p>Filter by something</p>
    </div>
   </div>
  </div>



<div class="row">
    <div class="col-lg-8">

      <% @cameras.each do |c| %>
        <div class="card-product">
          <%= link_to camera_path(c), :class => "text-cards" do %>
          <%= cl_image_tag c.photo, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <div class="card-top-line">
            <h2> <%= c.name  %></h2>
            <h2><i class='fas fa-star'></i> <i class='fas fa-star'></i> <i class='fas fa-star'></i> <i class='fas fa-star'></i> <i class='fas fa-star'></i></h2>
            </div>
            <p> <%= c.description %></p>
            <div class="card-bottom-line">
              <h2>$<%= c.price_per_day %></h2>
            </div>
             <% end %>
          </div>
      </div>
      <% end %>
    </div>

     <div class="col-sm-4 text-center map">
       <h1>MAP</h1>
     </div>

  </div>
</div>
<%= render 'shared/footer' %>
